@tailwind base;
@tailwind components;
@tailwind utilities;
.stroke-one {
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FF7A30
}
.stroke-two {
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #231714
}
.stroke-three {
  color: white;
  -webkit-text-fill-color: orange;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
.triangle::before {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent red transparent transparent;
}
.input {
  @apply w-full py-3 px-6 border outline-0 rounded-md placeholder:text-[0.9rem] text-[0.9rem]
}